* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

h4 {
    font-family:"Roboto Condensed", sans-serif;
}

#searchBar {
    border:0px;
    border-bottom:1px solid grey;
}

#searchBtn {
    margin-left:10px;
    padding:5px;
    border:0px;
    border-radius:8px;
    background-color:#0099ff;
    color:white;
}

nav {
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-height:8vh;
    font-family: "Quicksand", sans-serif;
    margin-bottom:40px;
}

.navLinks {
    display:flex;
    width:30%;
    justify-content:space-around;
}

.navLinks li {
    list-style:none;
}

.navLinks a {
    text-decoration:none;
    letter-spacing:2px;
    color:black;
    border-style:solid;
    border-color:#0099ff;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:8px;
}

.navLinks a:hover {
    background-color:#dedcdc;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
}

#logo {
    height:5%;
    width:5%;
}

.carousel-indicators li {
    border-radius:50%;
    width:10px;
    height:10px;
}

h1 {
    font-family:"Roboto Condensed", sans-serif;
    text-align:center;
    font-size:55px;
    border-bottom:8px solid #0099ff;
    border-bottom-width:7px;
    margin:auto;
    padding:20px;
}

#head1 {
    width:900px;
    margin-top:120px;
    margin-bottom:40px;
}

.covers { 
    display:flex;
    justify-content:space-around;
}

#head2 {
    width:300px;
    margin-top:140px;
}

.lorem {
    font-family:"Quicksand", sans-serif;
    margin:30px;
    text-align:center;
    margin-bottom:200px;
}

#links {
    display:flex;
    justify-content:space-around;
}

.list-title {
    font-family:"Roboto Condensed", sans-serif;
    font-size:30px;
    list-style:none;
    text-align:center;
}

.listcontent {
    display:flex;
    flex-direction:column;
    font-family:"Quicksand", sans-serif;
    padding:10px;
    align-items:center;
}

.listcontent a {
    text-decoration:none;
}

.icons {
    max-width:50px;
    max-height:50px;
    margin:5px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }


  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }